  .swiper {
      width: 100%;
      height: 100%;
  }

  .swiper-slide {
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .swiper-pagination-bullet {
      background-color: #e0a221;
      height: 8px;
      width: 8px;
  }

  .swiper-pagination-bullet-active:hover {
      background-color: #036943;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
      color: #036943;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
      color: #e0a221;
      font-size: 2rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #e0a221;
  }

  .swiper-slide img {
      /* display: block; */
      width: 100%;
      height: auto;
      object-fit: fill;
      vertical-align: middle;
      background-repeat: no-repeat;
  }